.main-view {
    -fx-background-color: #f5f8fa;
}

.navbar {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-padding: 10 20;
}

.sidebar {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, -2);
    -fx-padding: 20 10;
}

.product-table-container {
    -fx-padding: 20;
}

.table-view {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 1);
}

.table-view .column-header {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.nav-button {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 15;
}

.nav-button:hover {
    -fx-background-color: #4993e7;
}

.create-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.create-button:hover {
    -fx-background-color: #2980b9;
}

.button {
    -fx-background-radius: 4;
}

.text-field, .text-area, .combo-box {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.selected-button {
    background-color: #2980b9;
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

.notification-badge {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-padding: 2px 6px;
    -fx-shape: "M0,0 h1 a1,1 0 0,1 1,1 v1 a1,1 0 0,1 -1,1 h-1 a1,1 0 0,1 -1,-1 v-1 a1,1 0 0,1 1,-1 z";
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-alignment: center;
}